header{
display: flex;
justify-content: space-between;
color: white;
}

#cor-netflix{
color: red;
position: relative;
}
#cor-nome{
color: aliceblue;
}
#topo{
display: flex;
}
body {
background-color: #141414;
margin: 0;
padding: 0;
}

.header {
display: flex;
justify-content: flex-end;
padding: 10px;
align-items: center;
}
#lista-filmes{
text-decoration: none;
list-style: none;
display: flex;
gap: 15px;
align-items: center;
}
.icon {
margin: 0 15px;
cursor: pointer;
color: white;
}

.icon img {
width: 30px;
height: 30px;
}

.notification-badge {
position: relative;
display: inline-block;
}

.notification-badge .badge {
position: absolute;
top: -5px;
right: -10px;
background: red;
color: white;
border-radius: 50%;
padding: 4px 6px;
font-size: 12px;
}

.profile-picture {
width: 30px;
height: 30px;
border-radius: 50%;
}